{%extends 'network/layout.html'%}
{%load static%}
{%block body%}
<h2>Following</h2>
<div id="posts">
    {%for post in posts %}
    <div class="post">
        <h3><a href="{%url 'profile' post.user%}"><strong>{{post.user}}</strong></a></h3>
        <p>{{post.text}}</p>
        <p class="time">{{post.timestamp}}</p>
        <p><i class="fas fa-heart"data-url="{%url 'like' post.id%}"></i> {{post.likes}}</p>
    </div>
    {%endfor%}
</div>
    <script src="{%static 'network/following.js'%}"></script>
    <script src="https://kit.fontawesome.com/1f6e959c10.js" crossorigin="anonymous"></script>
{%endblock%}