{%extends "network/layout.html"%}
{%load static%}
{%block body%}
<h2>{{username}}</h2>
<span id="followers"> Followers: {{followers}} </span>
<span id="following"> Following: {{following}} </span>

{%if not isuser%}
<button id="follow" class="btn btn-primary">
    {%if isfollow%}
    Unfollow
    {%else%}
    Follow
    {%endif%}
</button>
{%endif%}
<div id="posts">
    {%for post in posts %}
    <div class="post">
        <p>{{post.text}}</p>
        <p class="time">{{post.timestamp}}</p>
        <p><i class="fas fa-heart" data-url="{% url 'like' post.id %}"></i> {{post.likes}}</p>
    </div>
    {%endfor%}
</div>
<script src="{%static 'network/profile.js' %}"></script>
<script src="https://kit.fontawesome.com/1f6e959c10.js" crossorigin="anonymous"></script>
{%endblock%}